@charset "utf-8";
/* CSS Document */

/*轮播覆盖*/
.lunbo{width:100%;z-index:100;height:300px;}
.lbfg{clear:both;background:url(images/banner.png) no-repeat right 90px;overflow:hidden;height:300px;width:1100px;margin:0 auto;}
.lbfg_1{float:left;margin:100px 0 0 500px;font-size:18px;color:white;}
.lbfg_2{float:right;margin:95px 110px 0 0;font-size:32px;color:white;font-weight:bold;font-family:"黑体"}


/*选项卡*/
.tabheadstyle{clear:both;height:54px;overflow:hidden;}
.tabheadstyle dd{float:left;width:275px;height:54px;text-align:center;line-height:54px;font-size:14px;color:white;font-weight:bold;}
.tabheadstyle dd.current{background:url(images/xxk_top_bg.gif) no-repeat;color:#434343;} /* 当前选项卡标题样式，默认名：current */
.tabcontentstyle dd{padding:10px;display:none;}
.tabcontentstyle dd li{width:270px;}
.tabcontentstyle dd li img{border:none;}
.xxk{background:url(images/xxk.png) no-repeat center top;height:260px;width:1100px;}

/*首页新闻*/
.xw{clear:both; width:1040px;background:url(images/xw.png) no-repeat center top;height:280px;margin-top:50px;overflow:hidden;padding:23px 30px 0px 30px;}
.xw_1{float:left;}
.xw_1 .tit{color:#CC0000;font-size:15px;font-weight:bold;height:37px;line-height:37px;text-align:center;margin-bottom:30px;}
.xw_1 .tit span{color:#666666}
.xw_1 .aa{width:560px;}
.xw_1 .aa a{color:#666666;margin-left:370px;}
.xw_1 .bb{width:185px;}
.xw_1 .cc{width:185px;}
.con_0{width:560px;clear:both;overflow:hidden;}
.con_1{float:left}
.con_2{float:left;margin-left:20px;width:350px;}
.con_2 .article li{*float:left;*width:100%;_float:left;_width:100%;}
.com{width:185px;text-align:center}
.com img{height:158px;}
.coy{width:185px;}
.coy img{height:158px;}
.mw_1{margin-left:55px;}
.mw_2{margin-left:55px;}

/*底部*/
.db{width:1100px;margin:0 auto;color:white;text-align:center}
.db_1{font-size:15px;margin:20px 0 10px 0;}
.db_bt{padding-bottom:20px;}
.db_bt a{color:white;}

/*联系我们*/
.call .a{font-size:20px;}
.call .b{color:#FF0017;font-weight:bold;}
.call .c{font-size:10px;}
.call .d{font-size:16px;}

/*导航产品*/
.cp{clear:both; background:url(images/xbmt.gif) no-repeat;height:87px;margin-left:22px;overflow:hidden;}
.cp_1{float:left;margin:10px 30px 10px 20px;}
.cp_2{float:left;margin-top:10px;}
.cp_2_1{color:#FF0000;font-size:18px;}
.cp_2_2{font-size:18px;font-weight:bold;color:#5A5A5A;}
.cp_2_2 a:hover{color:#A7C0E0}

/*导航地址*/
.dz{margin:20px 0 0 22px;}
.dz_1{font-size:14px;}
.dz_1 span{color:#FF0033;}

